<section class="l-margin-bottom">
<?php $coreHelper = Mage::helper('blokhuta');?>
    <div class="checkout clearfix">

        <div class="l-home-block l-checkout-block">
            <!-- breadcrumb container -->
            <div class="breadcrumbs-wrapper">
                <ul class="checkout-breadcrumbs hidden-xs">
                    <li class="first done"><a href="<?php echo $coreHelper->getCartUrl(); ?>"><span>1. <?php echo $this->__('winkelmand'); ?></span></a></li>
                    <li class="first current"><span>2. <?php echo $this->__('gegevens'); ?></span></li>
                    <li class=""><span>3. <?php echo $this->__('betaling'); ?></span></li>
                    <li class="last"><span>4. <?php echo $this->__('bedankt'); ?></span></li>
                </ul>
            </div>

            <?php echo $this->getChildHtml('onestepcheckout'); ?>

        </div> <!-- l-home-block -->
    </div> <!-- checkout-->
</section>        
